body {
  font-family: Arial;
  margin: 0;
  text-align: center;

  background: #fff0f5; /* rosa claro */
  color: #333;
}

/* centralização leve (não trava a tela) */
.box {
  margin-top: 80px;
}

/* título */
h1 {
  background: #ffb6c1;
  color: white;

  padding: 20px;
  margin: 0 0 20px 0;
}

/* inputs */
input {
  width: 250px;
  padding: 12px;
  margin: 8px;

  border: 2px solid #ffb6c1;
  border-radius: 8px;

  outline: none;
}

/* botões / links */
a {
  display: block;
  width: 200px;

  margin: 10px auto;
  padding: 12px;

  background: #ffb6c1;
  color: white;

  text-decoration: none;
  border-radius: 10px;

  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  background: #ff8fa3;
  transform: scale(1.05);
}
/* ========================= */
/* 📱 RESPONSIVIDADE */
/* ========================= */

/* Tablet */
@media (max-width: 900px) {
  .card {
    width: 45%;
  }
}

/* Celular */
@media (max-width: 600px) {
  h1 {
    font-size: 22px;
    padding: 15px;
  }

  .container {
    padding: 10px;
  }

  .card {
    width: 100%;
    margin: 5px 0;
  }

  iframe {
    height: 200px;
  }

  a,
  .btn-voltar {
    width: 90%;
    padding: 15px;
    font-size: 16px;
  }

  input {
    width: 90%;
  }
}
